<div id="<%= dom_id oauth_client %>">
  <p>
    <strong>Client name:</strong>
    <%= oauth_client.client_name %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= oauth_client.client_id %>
  </p>

  <p>
    <strong>Client secret:</strong>
    <%= oauth_client.client_secret %>
  </p>

</div>
